/* src/Portfolio.css */

.portfolio {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
  }
  
  .portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .portfolio h1 {
    color: white;
    padding: 0;
  }
  
  .github {
    font-family: 'Roboto', sans-serif;
    width: 120px;
    height: 39px;
    background-color: #5E3BEE;
    border: 1px solid #5E3BEE;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    line-height: 39px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .github:hover {
    background-color: transparent;
    color: #5E3BEE;
  }
  
  .portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Adds space between projects */
  }
  
  .project {
    width: 48%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .project:hover {
    transform: scale(1.02);
  }
  
  .project img {
    width: 100%;
    height: auto;
  }
  
  .project-info {
    padding: 20px;
    text-align: center;
  }
  
  .project-info p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .project-link {
    font-family: 'Roboto', sans-serif;
    color: #5E3BEE;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    transition: color 0.3s;
  }
  
  .project-link:hover {
    color: #333;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .portfolio-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .github {
      width: 100%;
      height: 50px;
      font-size: 16px;
      line-height: 50px;
      border-radius: 10px;
    }
  
    .portfolio-projects {
      flex-direction: column; /* Stack projects vertically */
    }
  
    .project {
      width: 100%; /* Full width for each project */
      margin-bottom: 20px; /* Space between projects */
    }
  }
  
  @media (max-width: 480px) {
    .portfolio {
      padding: 1rem;
    }
  
    .github {
      height: 45px;
      font-size: 14px;
      line-height: 45px;
    }
  }
  